@font-face {
  font-family: 'paypaydrink';
  src:
    url('fonts/paypaydrink.ttf?efb90u') format('truetype'),
    url('fonts/paypaydrink.woff?efb90u') format('woff'),
    url('fonts/paypaydrink.svg?efb90u#paypaydrink') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'paypaydrink' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pay-pin:before {
  content: "\e91c";
}
.pay-tel:before {
  content: "\e91d";
}
.pay-creditcard:before {
  content: "\e900";
}
.pay-qrcode:before {
  content: "\e901";
}
.pay-happy:before {
  content: "\e902";
}
.pay-mobile:before {
  content: "\e903";
}
.pay-Cheers:before {
  content: "\e904";
}
.pay-list:before {
  content: "\e905";
}
.pay-clock:before {
  content: "\e906";
}
.pay-love:before {
  content: "\e907";
}
.pay-click:before {
  content: "\e908";
}
.pay-drink:before {
  content: "\e909";
}
.pay-users:before {
  content: "\e90a";
}
.pay-member:before {
  content: "\e90b";
}
.pay-shop:before {
  content: "\e90c";
}
.pay-start:before {
  content: "\e90d";
}
.pay-Vector-google:before {
  content: "\e91e";
}
.pay-fb:before {
  content: "\e90e";
}
.pay-ig:before {
  content: "\e90f";
}
.pay-yt:before {
  content: "\e910";
}
.pay-mail:before {
  content: "\e911";
}
.pay-logout:before {
  content: "\e912";
}
.pay-arrow_up:before {
  content: "\e913";
}
.pay-arrow_right:before {
  content: "\e914";
}
.pay-arrow_left:before {
  content: "\e915";
}
.pay-arrow_down:before {
  content: "\e916";
}
.pay-exit:before {
  content: "\e917";
}
.pay-user:before {
  content: "\e918";
}
.pay-close-outline:before {
  content: "\e919";
}
.pay-close1:before {
  content: "\e91a";
}
.pay-menu:before {
  content: "\e91b";
}
